<html>
    <head>
        <style>

        </style>
    </head>
    <body>
        <h1>Kharon Pay</h1>
        <h3>Account Verification OTP</h3>
        <p>Hi,</p> 
       <p>Please enter the OTP code below to verify your account</p>
        <h2>{{otp}}</h2>

        <p><b>NOTE: </b> Link expires after 15 mins.</p>

        <p>Thank you,<br>Kharon Team.</p>
    </body>
</html>